body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: gray;
    border: 1px solid #ccc;
    padding: 50px;
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: inherit;
    padding: 5px;
    border-radius: 3px;
    background-color: #eee;
    text-decoration: none;
}

a:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#level {
    width: 105%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    font-size: large;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

.upload-container {
    margin-bottom: 20px;
}

.upload-container label {
    display: block;
    margin-bottom: 5px;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container .file-upload {
    font-size: small;
    background-color: white;
    color: black;
    padding: 5px 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

.upload-container .file-upload:hover {
    background-color: #45a049;
}

.upload-container .file-name {
    margin-top: 5px;
}